<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<head>
    <title layout:fragment="title">Reset Password</title>
</head>

<body>
    <div layout:fragment="content">
        <div th:if="${message}" class="message">
            <div>
                <span th:text="${message}"></span>
                <button onclick="closeMessage()">x</button>
            </div>
        </div>
        <div class="input-card">
            <h3>Reset Password</h3>
            <form th:action="@{/reset-password}" th:object="${req}" method="post">
                <label for="newPassword">New Password</label>
                <input type="password" th:field="*{userPassword}" autocomplete="off">

                <label for="confirmPassword">Confirmation</label>
                <input type="password" th:field="*{confirmPassword}" autocomplete="off">
                <br>
                <button type="submit">RESET</button>
            </form>
        </div>
    </div>
</body>
</html>
