<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
  <title layout:fragment="title">Users</title>
</head>

<body>
  <div layout:fragment="content">
    <div th:if="${message}" class="message">
          <div>
              <span th:text="${message}"></span>
              <button onclick="closeMessage()">x</button>
          </div>
    </div>
    <section class="table-container">
      <h2>Users</h2>
      <div>
        <table class="table">
          <thead>
            <tr>
              <th>USERNAME</th>
              <th>EMAIL</th>
              <th>ROLE</th>
              <th>ACTIVE</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="user : ${users}">
              <td th:text="${user.userName}">Username</td>
              <td th:text="${user.userEmail}">email@example.com</td>
              <td th:text="${user.userRole}">User</td>
              <td>
                <span th:text="${user.userStatus} ? 'ACTIVE' : 'INACTIVE'">ACTIVE</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>
</body>
</html>
